# Environnements virtuels
venv/
.env/
env/
ENV/

# Fichiers compilés Python
__pycache__/
*.py[cod]
*$py.class

# Base de données locales
*.db
*.sqlite3
instance/

# OS généré
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Artefacts IA (si générés dans le dossier)
*.pdf
projet.txt
